<div class="split left">
  <div class="">
    <form [class]=getsubmitClass() (ngSubmit)="onConnect()" #f2="ngForm">
      <div ngModelGroup="userData">
        <!-- <input type="text"
            id="connect_address"
            [(ngModel)]="connect_address"
            name="connect_address"
            placeholder="address like localhost"
            required>
        <input type="text"
            id="connect_port"
            [(ngModel)]="connect_port"
            name="connect_port"
            placeholder="port like 8080"
            required> -->
        <button type="submit" class="btn btn-primary" [disabled]="!f2.valid">connect</button>
        <label id="errorLogin" [class]=showError()>{{errMessage}}</label>
      </div>
    </form>
    <button [class]=getClaz() type="button" class="btn btn-default" (click)="onDisconnect()">disconnect</button>
    <form [class]=getClaz() (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div ngModelGroup="userData">
        <div>
          <label for="username">Your Name:</label>
          <input type="text"
                class="form-control"
                id="username"
                [(ngModel)]="username"
                name="username"
                [disabled]="isActive"
                required>
          <button type="submit" class="btn btn-primary getClaz()" [disabled]="!f.valid">Login in</button>
        </div>
      </div>
    </form>
    <form [class]=getClaz() (ngSubmit)="onSend()" #f1="ngForm">
      <div ngModelGroup="userData">
        <div>
          <label for="inputText">Message:</label>
          <br>
          <textarea rows='10' cols='50'
                class="form-control"
                id="userMessage"
                [(ngModel)]="message_content"
                name="content"
                [disabled]="!isActive"
                required></textarea>
          <button type="submit" class="btn btn-primary" [disabled]="!f1.valid">send</button>
        </div>
      </div>
    </form>
    <label [class]=getClaz() for="activeList">Online List:</label>
    <div [class]=getClaz() style="border:1px solid grey; height:200pt">
      <table class="table table-striped table-bordered" id="activeList">
        <tbody>
            <tr *ngFor="let item of activeList ; let i = index" (click)="setClickedRow(i)">
              <td>{{item}}</td>
            </tr>
          </tbody>
      </table>
    </div>
  </div>
</div>
<div class="split right">
  <div class="">
    Filter By:
    <label>{{toUser}}</label>
    <br>
    <button type="button" class="btn btn-default" (click)="onFilter()">Go</button>
    <button type="button" class="btn btn-default" (click)="onDismissFilter()">Clear</button>
    <br>
    <table class="table-striped">
      <tbody>
          <tr *ngFor="let item of items | userPipe:filterargs">
            <td>{{item.sender}}</td>
            <td>{{item.toUser}}</td>
            <td>{{item.message}}</td>
          </tr>
        </tbody>
    </table>
  </div>
</div> 

  